.--d-border-top {
    border-top: 1px solid $t-gray-medium;
}

.--d-border {
    border: 1px solid $t-gray-dark;
    background-color: $t-gray-super-light;
}

.--d-border-bottom {
    border-bottom: 1px solid $t-gray-medium;
}