// Fonts

.d-font-light {
    font-family: 'font-light';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.d-font-regular {
    font-family: 'font-regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.d-font-medium {
    font-family: 'font-medium';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.d-font-bold {
    font-family: 'font-bold';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.d-font-black {
    font-family: 'font-black';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}