// Text sizes
.d-text-xs {
    font-size: $t-text-xs;
}

.d-text-sm {
    font-size: $t-text-sm;
    line-height: $t-line-sm;
}

.d-text-md {
    font-size: $t-text-md;
    line-height: $t-line-md;
}

.d-text-lg {
    font-size: $t-text-lg;
    line-height: $t-line-lg;
}

.d-text-xl {
    font-size: $t-text-xl;
}

.d-text-xxl {
    font-size: $t-text-xxl;
}

.d-text-xxxl {
    font-size: $t-text-xxxl;
}

.d-text-xxxxl {
    font-size: $t-text-xxxxl;
}


// Lines

.d-line-xs {
    line-height: $t-line-xs;
}

.d-line-sm {
    line-height: $t-line-sm;
}

.d-line-md {
    line-height: $t-line-md;
}

.d-line-lg {
    line-height: $t-line-lg;
}

.d-line-xl {
    line-height: $t-line-xl;
}

.d-line-xxl {
    line-height: $t-line-xxl;
}

.d-line-xxxl {
    line-height: $t-line-xxxl;
}

.d-line-xxxxl {
    line-height: $t-line-xxxxl;
}