.m-cases {
    img {
        width: 100% !important;
        max-width: 368px;
        height: auto;
        background-color: $t-gray-dark;
        text-indent: -9999px;
        display: block;
    }
}