// Buttons

.e-btn {
    border: 0;
    width: max-content;
    box-shadow: $t-shadow-bt;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 2px;
    padding: 0 30px;
    height: 59px;
    background-color: $t-brand-color;
    color: $t-white;
    line-height: 22px;
    font-size: $t-text-md;
    font-family: 'font-medium';
    letter-spacing: .5px;
    transition: background-color .2s ease-out;

    &:hover {
        background-color: $t-brand-color-dark;
        color: $t-white;
        cursor: pointer;
    }

    &.--small {
        height: 40px;
        padding: 0 20px;
    }

    &.--glass-brand {
        background-color: transparent;
        border: solid 3px $t-brand-color-light;
        color: $t-brand-color-light;
        box-shadow: none;
        transition: all .2s ease-out;

        &:hover {
            border-color: $t-brand-color-medium;
            color: $t-brand-color-medium;
        }
    }

    &.--glass-color-three {
        background-color: transparent;
        border: solid 3px  $t-brand-color-three-light;
        color: $t-brand-color-three;
        box-shadow: none;
        transition: all .2s ease-out;

        &:hover {
            border-color: $t-brand-color-three-medium;
            color:  $t-brand-color-three-medium;
        }
    }

    &.--white {
        background-color: $t-white;
        color: $t-brand-color-two;
        font-family: 'font-bold';

        &:hover {
            background-color: $t-gray-light;
        }
    }

    &.--brand-color-two {
        background-color: $t-brand-color-two;

        &:hover {
            background-color: $t-brand-color-two-medium;
        }
    }

    &.--brand-color-three {
        background-color: $t-brand-color-three;

        &:hover {
            background-color: $t-brand-color-three-medium;
        }
    }
}